.background{
  background-image:url('./background.jpg');
position:fixed;
top:0;
bottom:0;
left:0;
right:0;
}
.lastline{

  font-size:0.9vw;
  position:relative;
  top:1vw;
  left:5vw;

}
.lastliner{
    color:#A9EEEC ;
      font-size:0.9vw;
      position:relative;
      top:1vw;
      left:10vw;
}
.logging{

  color:White;
  cursor:pointer;

}

.createaccount{
  color:#A9EEEC ;
  position:relative;
  left:10vw;
  cursor:pointer;

}
.forgottxt{
color:#A9EEEC ;
text-decoration: red !important;

}
#dropdown{
  background-color:inherit;
  border:none;
  color:#A9EEEC !important;
  width:12vw;
  cursor:pointer;
  font-size:1vw;
  position:relative;
  left:20vw;
  bottom:6vw;
}
#dropdownmenu{
  background-color:#C5E9F1 !important;

}
.arrowdown{
  position:relative;
  top:0.2vw;
  cursor:pointer;
}
#jobseekerdropdown{
position:relative;
left:5vw;

}
#employerdropdown{
position:relative;
right:7.5vw;

}
.isActive{
font-size:1.6vw;
  text-decoration: underline solid red;
}
.header{
  color:white;
  margin:2vw 0vw 0vw 0vw;
}
.headerright{
  float:right;
  position:relative;
bottom:5vw;
  font-size: 0.85vw;
  color:#FFFFEC;
}
.premium{

  position:relative;
bottom:6vw;
  left:15vw;
  font-size:1vw;
  color:#A9EEEC;
}
.login{
margin-right:2vw;
cursor:pointer;
color:#A9EEEC;
}
.register{
margin-right:3vw;
cursor:pointer;
color:#A9EEEC;
}

.logo{
  color:#A9EEEC;
  font-size:1.5vw;
  margin:0vw 0vw 0vw 3vw;
}
.forminput{
  background-color:inherit !important;
  border-radius: 0% !important;
  border-color:#99D9EA !important;
}
.formheading{
font-size:1.25vw;
color:white;
margin:0vw 0vw 2vw 6vw;
}
.formstyle{
  margin:10vw 35vw 2vw 33vw;
}
.jobseeker{
cursor:pointer;
}
.employer{
  cursor:pointer;
margin:0vw 0vw 0vw 4vw;
}
#divider{
  border-left:1px solid #A9EEEC;
  width:0px;
height:30px;
margin-left:12vw;
position:relative;
bottom:2vw;
}

.hrshort{
  border-left:1.2px solid #A9EEEC;

margin-right:2vw;
}
.hrlong{
  border-left:1.5px solid #A9EEEC;
  width:0px;
  height:36px;
margin-left:4.5vw;
}
::placeholder{
  color:#99D9DF !important;
}

button{
  background-color:inherit ;
  border-color:#99D9EA !important;
  border-radius: 0% !important;
  width:30%;
  height:3vw;
color:white;
  margin-left:12vw;
}
