
.forminput1{
position:relative;
left:2vw;
right:2vw;
margin-right:2vw;
}
.formstyle1{
  margin:3vw 0vw 5vw 7vw;
}

.pagecontainer{
  background-color:#F9F9F9;
  min-height:539px;
  margin-right:auto;
overflow-y:hidden;
  padding:5vw 10vw 2vw 10vw;
  overflow-x:hidden;

}
.formstylejoblist{
  margin-left:15vw;
}
#search{
  width:80%;

  margin-left:1vw;
  border-color:#7092BE !important;
  border-radius: 10% !important;
  display:inline-block;
min-width: 50px;
width: 80px;
height:2vw;
padding-top:-2vw;
}
.applyjoblist{
  position:relative;
  bottom:15vw;
  left:68vw;
}
.profileHeading{
  font-weight:650;
  font-size:1.3vw;
}
.caretup{
  position:relative;
  top:0.2vw;
}
#caretdropdown{


}
input.profileinput::-webkit-input-placeholder {

    color: grey !important;
    font-size:0.95vw;

  }
  input.footerinput::-webkit-input-placeholder{
      color: grey !important;
      font-size:0.9vw;
      position:relative;
      bottom:0.3vw;
  }
#btnsave{
  border-color:#00A2E8 !important;
  border-radius:15% !important;
  position:relative;
  top:2vw;

  left:-12vw;
}
.profileimg{
position:relative;
top:4vw;

}
.updateprofile{
  color:gray;
  font-size:1vw;
  position:relative;
top:4vw;
cursor:pointer;
}
.jobcard1{
  background-color:#E9E9E9;
  height:15vw;
  width:21vw;
  border:none;
}
.jobcard2{
  background-color:white;
  height:15vw;
width:58vw;
margin-bottom:2vw;
  border:none;
overflow-x:hidden;
padding:1.5vw 0vw 0vw 2vw;

}
.card1heading{
  color:#DD3D19;
  font-size:1.5vw;
  position:relative;
  top:1vw;
  left:1vw;
  font-weight:650;
}
.location{
color:#6E6E6E;
font-size:0.95vw;
position:relative;
top:0.8vw;
left:1vw;
}
.jobtype{
  position:relative;
  left:1vw;
  top:0.8vw;
  color:#6E6E6E;
  font-size:0.95vw;


}
.experience{
position:relative;
left:1vw;
top:1vw;
color:#6E6E6E;
font-size:0.98vw;

}
.postedon{
position:relative;
left:1vw;
top:6vw;
color:#6E6E6E;
font-size:0.99vw;
}
.card2heading{

}
.company{
font-size:0.95vw;
font-weight:580;

}
.keyskills{
  font-size:0.95vw;
  font-weight:580;
  position:relative;
  top:1.5vw;
}
.JD{
  font-size:0.95vw;
  font-weight:580;
  position:relative;
  top:3vw;
}
.companyname{
font-size:1vw;
font-weight:normal;
color:gray;
}
.skillsname{
  font-size:1vw;
  font-weight:normal;
  color:gray;
}
.JDD{
  font-size:1vw;
  font-weight:normal;
  color:gray;
}
.readmore{
  color:#70A6DF;
  position:relative;
  top:4vw;
  left:50vw;
  font-size:0.85vw;
text-decoration:none !important;
}
.readmore:hover{
    color:#70A6DF;
}

.footerstyle{
  background-color:#5995C5;
  color:white;
  height:6vw;
  font-size:0.9vw;
  padding:3vw 3vw 0vw 3vw ;
}
.contactus{
  position:relative;
  left:40vw;
}
.footerinput{
  background-color:white;
  width:18vw;
  height:2vw;
  position:relative;
  left:23vw;
}
.jobdescriptioncard{
  background-color:white;
  margin:4vw 6vw 2vw 6vw;
  height:800px;
  overflow-x: hidden;
}
.carddetails{
  background-color:#E9E9E9;
  margin:0.8vw 63vw 0vw 0.8vw;
  border:none;
  border-radius:0%;
}
.details{


}
#joblistdropdowns{
  position:relative;
  top:5vw;
right:30vw;
}
#joblistdropdown{
margin-left:-5vw;
margin-bottom:1vw;
}
.joblistarrowup{
position:relative;
top:0.25vw;
left:0.2vw;
}
#dropdownjoblist{
  background-color:inherit;
  border:none;
  color:#000000 !important;
  width:12vw;
  cursor:pointer;
  font-size:0.9vw;
  position:relative;
  outline:inherit;
}

#joblistmenuitem:hover{
background-color:#CBECF3;
}
.hrcolor{
  background-color:grey;
  width:98%;
}
.comp{
  font-size:0.95vw;
  font-weight:650;
}
.compname{
color:gray;
font-weight:normal;
}
.skil{
  font-size:0.95vw;
  font-weight:650;
}
.skilname{
color:gray;
font-weight:normal;
}
.jobdesc{
  font-size:0.95vw;
  font-weight:650;
  position:relative;
}
.jobdescname{
text-align:justify;
color:gray;
font-weight:normal;
}
.rightcard{
  margin:-15vw 0vw 0vw 25vw;
  padding:2vw 0vw 0vw 1vw;
border:none;
border-radius:0%;
height:15vw;

}
.JDheading{
  color:black;
  font-weight:bold;
  position:relative;
  top:1vw;
  left:2vw;
}
.JDcontent{
  margin:1vw 2vw 0vw 2vw;
  font-size:1vw;
  color:gray;
}
.title{

}
.jobscardrow{
  margin:0vw 0vw 0vw 7vw;
}
.jobscard{
  background-color:white;
  height:200px;
  width:270px;
  margin:2vw 0.5vw 2vw 0.5vw;
}
.lefticon{
  color:black;
position:relative;
right:2vw;

}
.righticon{
  color:black;
  position:relative;
  left:1vw;
}
.pin{
  transform:rotate(60deg);
  color:gray;
}
.apply{
  background-color:#5889BE;
  font-size:1vw;
  color:white;
  cursor:pointer;
text-align: center;
padding-bottom: 0.3vw;
  width:6vw;
  margin:0vw 0.5vw 0vw 2vw;
}
.applyrowup{
  position:relative;
  bottom:14vw;
  right:3vw;
}
.applyrowdown{
  position:relative;
  bottom:2vw;
  left:77vw;
}
#subsc{
position:relative;
left:12vw;
bottom:0.6vw;
width:7%;
height:2vw;
border:1px solid white !important;
padding-bottom:2vw;
border-radius:10% !important;
font-size:1vw;
background-color:#5995C6 !important;
}
